.product__items {

    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        width: 800px;
        margin: 60px auto;
        row-gap: 60px;
        column-gap: 70px;
    }
}
