.container {
  width: 1140px;
  margin: 0 auto;
  position: relative;
}

@font-face {
  font-family: 'Merienda', cursive;
  src: url('https: //fonts.googleapis.com/css2?family=Merienda:wght@700&family=Roboto:wght@400;500;700&display=swap');
}
